
body{
	background-image: url("tapiz1.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
}
li{
	font-size: 30px;	
}

header{
	background-color: #0073e6;
	border: 5px outset  #ffff1a;
}
h1{
	text-align: center;
	font-family: times new roman;
}
div{
	background-image: url("superman.jpg");
	background-size: 100% 100%;
	background-attachment: fixed;
	
	padding: 10px;
}


a:link{
	color: black ;
}
a:visited{
	background-color:  #e6f2ff;
	color: #FF1616 ;

}
a:hover{
	background-color:  #00D0FF;

}
a:active{
	color: indianred;
}
